<!DOCTYPE html>
<html>
  <head>
    <title>Respirappwiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!--HEADER-->
    <header>
      <h1 id="titulo">RespirApp Wiki</h1>
    </header>
    <!--MENU-->
    <aside>
      <ul>
        <li><%= link_to 'Modelo de datos', pages_datamodels_path =%></li>
        <li><%= link_to 'Diagrama Entidad-Relación', pages_ermodels_path =%></li>
        <li><%= link_to 'Crear un reporte/Queja', pages_complaints_path =%></li>
        <li><%= link_to 'Mapa de contaminación', pages_maps_path =%></li>
        <li><%= link_to 'Contacto', pages_contacts_path =%></li>
      </ul>
    </aside>
    <!--CONTENT-->
    <section id="contenido">
        <%= yield %>
    </section>
    <!--FOOTER-->
    <footer>
    </footer>
  </body>
</html>
